*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  color: red;
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
}


.input_data{
  display: flex;
  justify-content: center;
  height: 20vh;
  align-items: center;
}

.para_sender{
  text-align: end;
}

.para_receiver{
  text-align: start;
}

.btn{
  padding:10px 20px;
  border:none;
  background: cornflowerblue;
  color: aliceblue;
}

.para{
  text-align: center;
}
